<div class="container">
  <div>
    <form class="form-control" (ngSubmit)="getUserInfos(searchTerm)">
      <input
        required
        type="text"
        placeholder="Search.."
        name="searchTerm"
        [(ngModel)]="searchTerm"
        value="{{ searchTerm }}"
      />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="card-container">
    <mat-card class="card" *ngFor="let user of foundUser">
      <mat-card-header class="card-header">
        <img mat-card-avatar class="card-avatar" src="{{ user.avatar_url }}" />
        <div>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <a href="#">@{{ user.login }}</a>
        </div>
      </mat-card-header>
      <div mat-card-content>
        <mat-card class="repo-card">
          <mat-card-content class="repo-content">
            <div>
              <h2>Repos</h2>
              {{ user.public_repos }}
            </div>
            <div>
              <h2>Followers</h2>
              {{ user.followers }}
            </div>
            <div>
              <h2>Following</h2>
              {{ user.following }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card-content>
        <p>
          {{ user.bio || "No Bio" }}
        </p>
      </mat-card-content>
      <div class="footer">
        <div>
          <button mat-flat-button>
            <mat-icon>place</mat-icon>
            {{ user.location || "No Data Available" }}
          </button>
          <button mat-flat-button>
            <mat-icon>business</mat-icon>
            {{ user.company || "No Data Available" }}
          </button>
        </div>
        <div class="links">
          <button mat-flat-button>
            <mat-icon>view_list</mat-icon>
            {{ user.blog || "No Data Available" }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
