.light {
  color: orange;
}

.dark {
  color: yellow;
}

.nav-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #141c2f;
  color: white;
  height: 10vh;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .switcher {
    display: flex;
    align-items: center;
  }
}
