.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  max-height: 600px;
  .mode {
    cursor: pointer;
  }
  .search {
    input {
      background-color: #1f2a48;
      border: none;
    }
  }
  .profile {
    background-color: #1f2a48;
    img {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list-group {
      .list-group-item {
        background-color: transparent;
        color: #fff;
        border: none;
        .repo {
          background-color: #141c2f;
        }
        .link {
          cursor: pointer;
        }
      }
    }
  }
}
