<div class="container-wrapper">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3>{{ title }}</h3>
      <div>
        <p *ngIf="isDark">LIGHT<i class="mode ms-3 fa fa-sun"></i></p>
        <p *ngIf="!isDark">DARK<i class="mode ms-3 fa fa-moon"></i></p>
      </div>
    </div>
    <div [formGroup]="searchUser" class="input-group my-4 search">
      <input
        formControlName="name"
        type="text"
        class="form-control text-white p-2"
        placeholder="Search Github Username"
      />
      <div class="input-group-append">
        <button (click)="getUser()" class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="profile d-flex justify-content-around">
      <div class="mt-5 ms-3">
        <img src="{{ img }}" alt="p-image" />
      </div>
      <div class="list-group p-3">
        <div class="list-group-item">
          <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{ fullName }}</h5>
            <small>{{ joined }}</small>
          </div>
          <a href="" class="text-decoration-none">@{{ username }}</a>
          <div class="mt-2">
            <small>{{ bio }}</small>
          </div>
          <div class="row mt-3 p-2 repo">
            <div class="col">
              Repos
              <div>{{ repos }}</div>
            </div>
            <div class="col">
              Followers
              <div>{{ followers }}</div>
            </div>
            <div class="col">
              Following
              <div>{{ following }}</div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <i class="fa fa-map-marker-alt"></i> {{ location }}
            </div>
            <div class="col link">
              <i class="fab fa-twitter"></i> {{ twitterName }}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col link"><i class="fa fa-link"></i> {{ website }}</div>
            <div class="col"><i class="fa fa-building"></i> {{ company }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
